* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', 'Ubuntu', 'Roboto', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-items: center;
}

header > h1 {
  letter-spacing: 2px;
}

.game {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-content: center;
}

.game > section {
  height: 100%;
}

footer > h5 > a {
  color: black;
}

.half {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, min-content);
  border-top: 1px solid #0000005e;
  border-left: 1px solid #0000005e;
  width: fit-content;
}

.square {
  height: 47px;
  width: 47px;
  border-bottom: 1px solid #0000005e;
  border-right: 1px solid #0000005e;
}

.controls {
  text-align: end;
}

.randomize {
  cursor: pointer;
  color: #005eb1;
  user-select: none;
}

.disableRandomize {
  cursor: not-allowed;
  color: rgb(0 94 177 / 30%) !important;
}

.hit {
  background-color: #ff000061;
  background-image: url(/src/img/target.png);
  background-repeat: no-repeat;
  background-position: center;
}

.half:first-child > .board > .hit {
  background-color: #64112454 !important;
  background-image: url(/src/img/target.png);
  background-repeat: no-repeat;
  background-position: center;
}

.miss {
  background-color: #0c202661;
}

.pad {
  visibility: hidden;
}

.gameControls > button {
  cursor: pointer;
  width: 96px;
  border: none;
  height: 32px;
  font-size: 13px;
}

.gameControls > button:disabled {
  cursor: not-allowed;
}

.gameControls > button:hover {
  width: 96px;
  border: none;
  height: 32px;
  font-size: 12px;
  background-color: #b4b4b4;
}

.gameControls > button:active {
  width: 96px;
  border: none;
  height: 32px;
  font-size: 11px;
  background-color: #f7f7f7;
}

.ship {
  background-color: #507493;
}

.winner > h1 {
  font-size: 24px;
}

#opponent > .hit:hover {
  background-color: #ff000061 !important;
}
#opponent > .miss:hover {
  background-color: rgba(205, 92, 92, 0.5) !important;
}
#opponent > .square:hover {
  background-color: rgba(144, 238, 144, 0.5);
}
